.row {
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.contents {
  max-width: 960px;
  padding-bottom: 16px;
}

h1 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #add15d;
  margin-top:48px;
  font-weight: normal;
}

h2 {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  color: #5398be;
  text-decoration: none;
}

a:hover {
  color: #00aff0;
}

.box_title {
  font-size: 20px;
  padding-bottom: 4px;
  border-bottom: 1px solid #add15d;
  font-family: "Oxygen", sans-serif;
}

.contact_info {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.contact_group {
  display: flex;
  flex-direction: column;
}

.name {
  display: inline-block;
  font-family: "Oxygen", sans-serif;
}

.contact_type {
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
  margin-bottom: 0px;
  font-size: 12px;
  font-family: "Open Sans";
}

.project_listing {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.project_title {
  font-size: 18px;
  font-family: "Oxygen", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.project_dates {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  display: flex;
}

.project_description {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.skills_info {
  font-family: "Open Sans", sans-serif;
}

.header {
  text-align: center;
}

.skills_list {
  margin-bottom: 1rem;
  font-family: "Open Sans";
  font-size: 14px;
}

.skill_type {
  width: 200px;
}

.project_label {
  display: flex;
}

.job_title {
 margin-top: 0.5rem;
}

.primary_color {
  color: #8aaf3a;
}

.job_list {
  margin-bottom: 8px;
}

.bullet_list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 0;
  margin-inline-start: 0px;
  padding: 0;
  padding-left: 2rem;
  margin-bottom: 24px;
}

.bullet_list > li {
  margin-bottom: 4px
}